HistoryLog/
*.csv
nohup.out
core*
HistoryLog
HistoryLog/Go/checkpoint/checkpoint_0*
HistoryLog/Go/checkpoint/checkpoint*
*.pyc
.DS_Store
sbatch_script.sh
#*.ipynb
.ipy*
/temp/
/.project
sbatch.sh
slur*
/.pydevprojectgit
logs
.idea
configs/sensitive.yaml
engine.spec
model.tar
build
dist
/distributed/arena
/distributed/self_play
console_output.txt
/debug/analysis_logs
/katago/analysis_logs
analysis_logs
/engine/best.pth.tar
/engine/run_engine.spec